#sunlight_politiwidgets_suggested_widgets{border-bottom:1px solid #e7e7e7;padding:0 0 0.5em;}
#sunlight_politiwidgets_active_widgets{border-top:1px solid #fff;padding:1em 0;}

#sunlight_politiwidgets p.heading{clear:left;}
#sunlight_politiwidgets ul.suggestions{}
#sunlight_politiwidgets ul.suggestions li{float:left;padding:0 4px 2px 0;}
#sunlight_politiwidgets ul.suggestions li a{padding:2px 5px;text-decoration:none;background:#eee;}
#sunlight_politiwidgets ul.suggestions li a.added{background:#fcfcfc;}
#sunlight_politiwidgets ul.suggestions li a:hover{background:#fff;}
#sunlight_politiwidgets ul.suggestions li.empty{font-style:italic;color:#aaa;font-weight:normal;}

#sunlight_politiwidgets ul.tagchecklist span{display:block;float:none;}
#sunlight_politiwidgets ul.tagchecklist span a{float:none;margin-left:-13px;}
#sunlight_politiwidgets ul.tagchecklist a{text-decoration:none;font-weight:bold;}

#sunlight_politiwidgets input.button-primary{float:right;min-width:120px;text-align:center}


/*#sunlight_politiwidgets_active_widgets ul{display:table;width:100%}*/
#sunlight_politiwidgets_active_widgets ul{clear:left;padding-left:0;margin-left:0;}
#sunlight_politiwidgets_active_widgets ul li{display:block;margin-left:1.5em;}
#sunlight_politiwidgets_active_widgets ul li>a{width:150px;display:inline;display:inline-block;zoom:1}
#sunlight_politiwidgets_active_widgets ul li.new{margin-left:0.5em;margin-top:1em;}
#sunlight_politiwidgets_active_widgets ul li.new label{padding-right:1em;}
/*#sunlight_politiwidgets_active_widgets ul li.new input.form-input-tip{width:208px;}*/


.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;zoom:1;}
